In [335]:
import pandas as pd


def calculate_demographic_data(print_data=True):
    # Read data from file
    df = pd.read_csv('adult.data.csv')

    # How many of each race are represented in this dataset? This should be a Pandas series with race names as the index labels.
    race_count = df["race"].value_counts()

    # What is the average age of men?
    average_age_men = round(df.loc[df["sex"] == "Male", ["age"]].mean(), 1).iloc[0]

    # What is the percentage of people who have a Bachelor's degree?
    percentage_bachelors = round((df["education"].value_counts()["Bachelors"] / df["education"].value_counts().sum() ) * 100, 1)

    # What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?
    # What percentage of people without advanced education make more than 50K?

    # with and without `Bachelors`, `Masters`, or `Doctorate`
    higher_education = df.loc[(df['education'] == 'Bachelors') | (df['education'] == 'Masters') | (df['education'] == 'Doctorate'), ['salary']]
    lower_education = df.loc[(df['education'] != 'Bachelors') & (df['education'] != 'Masters') & (df['education'] != 'Doctorate'), ['salary']]

    # percentage with salary >50K
    higher_education_rich = round((higher_education.loc[higher_education['salary'] == '>50K'].count() / higher_education.count() ) * 100, 1).iloc[0]
    lower_education_rich = round((lower_education.loc[lower_education['salary'] == '>50K'].count() / lower_education.count() ) * 100, 1).iloc[0]

    # What is the minimum number of hours a person works per week (hours-per-week feature)?
    min_work_hours = df['hours-per-week'].min()

    # What percentage of the people who work the minimum number of hours per week have a salary of >50K?
    num_min_workers = df.loc[(df['hours-per-week'] == min_work_hours), ['salary']]

    rich_percentage = round((num_min_workers.loc[num_min_workers['salary'] == '>50K'].count() / num_min_workers.count() ) * 100, 1).iloc[0]

    # What country has the highest percentage of people that earn >50K?
    rich_country = df.loc[df["salary"] == ">50K"].groupby("native-country").size()
    country_worker = df.groupby("native-country").size()
    percent_rich = pd.concat([rich_country, country_worker], axis=1)
    percent_rich.columns = ['total50K', 'totalWorker']
    percent_rich['percentage'] = round(percent_rich['total50K']*100 / percent_rich['totalWorker'], 1)
    rich_res = percent_rich.loc[percent_rich['percentage'] == percent_rich['percentage'].max()]
    
    highest_earning_country = rich_res.iloc[0].name
    highest_earning_country_percentage = rich_res['percentage'].iloc[0]

    # Identify the most popular occupation for those who earn >50K in India.
    indian_50KWorker = df.loc[(df["salary"] == ">50K") & (df["native-country"] == "India")].groupby('occupation').size()
    indian_50KWorker = pd.concat([indian_50KWorker], axis=1)
    indian_50KWorker = indian_50KWorker.loc[indian_50KWorker[0] == indian_50KWorker[0].max()]
    
    top_IN_occupation = indian_50KWorker.iloc[0].name

    # DO NOT MODIFY BELOW THIS LINE

    if print_data:
        print("Number of each race:\n", race_count) 
        print("Average age of men:", average_age_men)
        print(f"Percentage with Bachelors degrees: {percentage_bachelors}%")
        print(f"Percentage with higher education that earn >50K: {higher_education_rich}%")
        print(f"Percentage without higher education that earn >50K: {lower_education_rich}%")
        print(f"Min work time: {min_work_hours} hours/week")
        print(f"Percentage of rich among those who work fewest hours: {rich_percentage}%")
        print("Country with highest percentage of rich:", highest_earning_country)
        print(f"Highest percentage of rich people in country: {highest_earning_country_percentage}%")
        print("Top occupations in India:", top_IN_occupation)

    return {
        'race_count': race_count,
        'average_age_men': average_age_men,
        'percentage_bachelors': percentage_bachelors,
        'higher_education_rich': higher_education_rich,
        'lower_education_rich': lower_education_rich,
        'min_work_hours': min_work_hours,
        'rich_percentage': rich_percentage,
        'highest_earning_country': highest_earning_country,
        'highest_earning_country_percentage':
        highest_earning_country_percentage,
        'top_IN_occupation': top_IN_occupation
    }

In [336]:
calculate_demographic_data()

Number of each race:
 White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64
Average age of men: 39.4
Percentage with Bachelors degrees: 16.4%
Percentage with higher education that earn >50K: 46.5%
Percentage without higher education that earn >50K: 17.4%
Min work time: 1 hours/week
Percentage of rich among those who work fewest hours: 10.0%
Country with highest percentage of rich: Iran
Highest percentage of rich people in country: 41.9%
Top occupations in India: Prof-specialty

{'race_count': White                 27816
 Black                  3124
 Asian-Pac-Islander     1039
 Amer-Indian-Eskimo      311
 Other                   271
 Name: race, dtype: int64,
 'average_age_men': 39.4,
 'percentage_bachelors': 16.4,
 'higher_education_rich': 46.5,
 'lower_education_rich': 17.4,
 'min_work_hours': 1,
 'rich_percentage': 10.0,
 'highest_earning_country': 'Iran',
 'highest_earning_country_percentage': 41.9,
 'top_IN_occupation': 'Prof-specialty'}


##### ======================================================================================================================
### Test section
##### What country has the highest percentage of people that earn >50K?

Does'nt already ended.
##### ======================================================================================================================

In [3]:
data = pd.read_csv('adult.data.csv')

In [4]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [196]:
rich_country = data.loc[data["salary"] == ">50K"].groupby("native-country").size()

In [197]:
country_worker = data.groupby("native-country").size()

In [198]:
percent_rich = pd.concat([rich_country, country_worker], axis=1)

In [199]:
percent_rich.columns = ['total50K', 'totalWorker']

In [200]:
percent_rich['percentage'] = round(percent_rich['total50K']*100 / percent_rich['totalWorker'], 1)

In [201]:
rich_res = percent_rich.loc[percent_rich['percentage'] == percent_rich['percentage'].max()]

In [274]:
rich_res

      total50K  totalWorker  percentage
Iran      18.0           43        41.9

In [209]:
rich_res.iloc[0].name

'Iran'

In [207]:
rich_res['percentage'].iloc[0]

41.9


##### ======================================================================================================================
##### Indian occupation

last one

In [311]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [313]:
indian_50KWorker = data.loc[(data["salary"] == ">50K") & (data["native-country"] == "India")].groupby('occupation').size()

In [315]:
indian_50KWorker = pd.concat([indian_50KWorker], axis=1)

In [318]:
indian_50KWorker

                   0
occupation
Adm-clerical       1
Exec-managerial    8
Other-service      2
Prof-specialty    25
Sales              1
Tech-support       2
Transport-moving   1

In [320]:
indian_50KWorker = indian_50KWorker.loc[indian_50KWorker[0] == indian_50KWorker[0].max()]

In [321]:
indian_50KWorker.iloc[0].name

'Prof-specialty'


##### ======================================================================================================================
##### some test

In [326]:
round(data.loc[data["sex"] == "Male", ["age"]].mean(), 1).iloc[0]

39.4